@model List<WriterMesssage>


@{
    ViewData["Title"] = "ReceiverMessage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gelen Kutusu</h4>
            <p class="card-description">
                Yeni Mesaj <code>.Ekranı</code>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Konu</th>
                            <th>Gönderen</th>
                            <th>Tarih</th>
                            <th>Detylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.WriterMesssageID</th>
                                <td>@item.Subject</td>
                                <th>@item.Sender</th>
                                <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                                <td><a href="/Student/MessageA/ReceiverMessageDetails/@item.WriterMesssageID" class="btn btn-outline-warning">Görüntüle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                    <p class="mb-0">Mesaj Gönderme Sayfası</p>
                    <button class="btn btn-primary btn-sm ms-auto">Profilim</button>
                </div>
            </div>
            <form class="form-group" method="post">

                @Html.Label("Alıcı Mail")
                @Html.TextBoxFor(x => x.Receiver , new {@class="form-control"})
                <br />
                @Html.Label("Konu")
                @Html.TextBoxFor(x => x.Subject , new {@class="form-control"})
                <br />
                @Html.Label("Mesaj")
                @Html.TextAreaFor(x => x.MessageContent ,10,3, new {@class="form-control"})
                <br />
                <button class="btn btn-outline-primary">Gönder</button>

            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                    <p class="mb-0">Son Gelenler</p>
                    <button class="btn btn-primary btn-sm ms-auto">Gelen Kutusu</button>
                </div>
            </div>
            <table class="table-borderless">
                <tr>
                    <th>#</th>
                    <th>Gönderen</th>
                    <th>Konu</th>
                </tr>
                <tr>
                    <td>+</td>
                    <td>Ahmet</td>
                    <td>Ders Notu</td>
                </tr>
            </table>
        </div>
    </div>
</div>*@



